<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">
      <a routerLink="">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </mat-toolbar>

    <mat-nav-list>  
      <a mat-list-item routerLink="settings">
        <mat-icon>settings</mat-icon>
        Settings
      </a>

      <a mat-list-item routerLink="addons">
        <mat-icon>add_circle_outline</mat-icon>
        Addons
      </a>

      <a mat-list-item routerLink="about">
        <mat-icon>copyright</mat-icon>
        About
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a routerLink="">
        <span>myNAS</span>
      </a>

      <mat-form-field>
        <mat-select placeholder="Power options">
          <mat-option>
            <mat-icon>power_settings_new</mat-icon>
            Poweroff
          </mat-option>
          <mat-option>
            <mat-icon>replay</mat-icon>
            Reboot
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- to make the menu toggle button appear and disappear based on window size 
  *ngIf="isHandset$ | async"
  goes in the sidenav toolbar toggle button-->

<!-- to make the side nav toolbar open-close automatically based on window size
  [opened]="!(isHandset$ | async)"
  goes in the sidenav drawer-->